textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
input:active ,
textarea:focus, input:focus{
  outline: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-area {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 160px;
  display: flex;
}
.main-text-input {
  width: 100%;
  padding: 10px 30px 10px 120px;
  border-radius: 60px;
  font-size: 18px;
}
.input-img {
  position: absolute;
  top: 4px;
  left: 40px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  height: 60vh;
}
.main-text {
  width: 30%;
  padding-left: 2px;
  text-shadow: 3px 2px 5px rgba(255, 255, 255, 0.5);
  display: inline-flex;
  overflow: hidden;
  height: 36px;
}

.filter-group {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 70px;
}
.filter {
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 2em;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 30px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  opacity: 1;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 70px; /* Set a specific slider handle width */
  height: 70px; /* Slider handle height */
  background: url("/assets/Snowman.png") center; /* Green background */
  background-size: contain;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: url("/assets/Snowman.png") center; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.search {
  width: 22%;
  margin: 30px auto;
  height: 60px;
  border-radius: 30px;
  border: none;
  position:relative;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.5);
  outline: none;
}
.search-text {
  font-size: 20px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.search-img {
  width: 100px;
  height: 40px;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 20px;
}

.iframe-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
}

.content-list {
  list-style: none;
  margin-top: 0;
  padding-left: 5px;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: flex;
  flex-direction: column;
  height: 144px;
}
.content-item {
  line-height: 32px;
  margin: 0;
  margin-top: 4px;
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
#divider {
  background-image: url("/assets/holidaydiv.png");
  height: 120px;
  opacity: 0;
  transition: opacity 0.5s;
  margin: 50px auto;
}
.result-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.container-emotion-1, .container-emotion-2 {
  position: absolute;
  top: 76%;
  opacity: 0;
  transition: opacity 0.5s;
}
.container-emotion-1 {
  left: 20%;
}
.container-emotion-2 {
  right: 20%;
  transform:  scaleX(-1);
}

.visible {
  opacity: 1;
}

@media (max-width: 1024px) {
  main {
    font-size: 28px;
  }
  .filter-group {
    margin: 0 20px;
  }
  .main-text {
    height: 28px;
  }
  .content-list {
    height: 112px;
  }
  .content-item {
    line-height: 24px;
  }
}
.spinner {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: .9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
