textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
textarea:focus, input:focus{
  outline: 0;
}

.bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 1;
  z-index: -100;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-area {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 160px;
  display: flex;
}
.main-text-input {
  width: 100%;
  padding: 10px 30px 10px 120px;
  border-radius: 60px;
  font-size: 18px;
}
.input-img {
  position: absolute;
  top: 4px;
  left: 40px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  height: 60vh;
}
.main-text {
  width: 30%;
  text-align: center;
  text-shadow: 3px 2px 5px rgba(255, 255, 255, 0.5);
}

.filter-group {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 70px;
}
.filter {
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 2em;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 30px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  opacity: 1;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 70px; /* Set a specific slider handle width */
  height: 70px; /* Slider handle height */
  background: url("../../assets/Snowman.png") center; /* Green background */
  background-size: contain;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: url("../../assets/Snowman.png") center; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.search {
  width: 20%;
  margin: 30px auto;
  height: 60px;
  border-radius: 30px;
  border: none;
  position:relative;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.5);
}
.search-text {
  font-size: 20px;
  position: absolute;
  left: 60px;
  top: 20px;
}
.search-img {
  width: 100px;
  height: 40px;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 30px;
}
