<div class="bg-img">
 <form>
    <textarea class="main-text-input"></textarea>
   <main>
     <div>find your music</div>
      <div class="filter-group">
        <input type="range" min="0" max="100" step="1" value="50">
        <input type="range" min="0" max="100" step="1" value="50">
        <input type="range" min="0" max="100" step="1" value="50">
        <input type="range" min="0" max="100" step="1" value="50">
      </div>
     <div>and be happy</div>
   </main>
    <button>Search</button>
 </form>
</div>

